body{
    margin: 0;
    padding: 0;
    background-color: #fef6e4;
    font-family: 'Varela', sans-serif;
    
}
.top-pane{
    width: 100vw;
    /* height */
}
/* for a background thing #container{} */
.logo{
    padding-top: 30px;
    margin: 0 auto;
}
.logo img{
    width: 200px;
    margin-left: 45vw;
    margin-right: 45vw;
}

.loginContainer{
    margin: 10vh auto 10vh auto;
    width: 40vw;
    padding-left: 5vw;
}
#heading{
    color: #001858;
    font-size: 2rem;
}

#username {
    margin-top: 20px;
}

.loginContainer input{
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    font-size: 1.5rem;
    border: 2px solid #f3d2c1;
    border-radius: 5px;
    background-color: #f3d2c1;
    font-family: 'Varela', sans-serif;
}

.loginButton{
    background-color: #8bd3dd;
    margin-top: 20px;
    padding: 5px 15px 5px 15px;
    color: #001858;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'Varela', sans-serif;
}
#flexContainer{
    display: flex;
    flex-direction: row;
}

.invalid{
    border: 2px solid red;
}
.channelTopBar{
    width: 100vw;
    height: 4vh;
    padding-top: 10px;
    text-align: center;
    background-color: #8bd3dd;
    color: #001858;
}

.channelTopBar span{
    margin-right: 20px;
}
.channelTopBar button {
    font-family: 'Varela', sans-serif;
    border-radius: 5px;
    border: 2px;
}
#join{
    background-color: #f3d2c1;
}

.channelTopBar input{
    font-family: 'Varela', sans-serif;
}

.left-pane span{
    color: #001858;
    margin-bottom: 20px;
}
#products{
    text-emphasis: bold;
    font-size: 1.5rem;
}
/*#tutorial*/iframe{
    margin-top: 40px;
    justify-self: center;
    
    /*width: 700px;
    height: 400px;*/
    
}

#SelfStream{
    text-align: right;
    margin-top: 20px;
    justify-self: center;
    width: 600;
    height: 250;
    border: 2px solid #f3d2c1;
    border-radius: 4px;
    margin-right: 20px;

}

#remoteStream{
    text-align: left;
    margin-top: 20px;
    justify-self: center;
    border: 2px solid #f3d2c1;
    border-radius: 4px;
    width: 600px;
    height: 250px;
}

.controls{
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 250px;
    width: 75px;
    background-color: #fef6e4;
    /*border-top-right-radius: 30px;
    border-top-left-radius: 30px;*/
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

.icon {
    height: 40px;
    width: 50px;
    margin: 20px;
    cursor: pointer;
}

.bottom-container{
    margin-top: 5vh;
}
.left-pane{
    width: 30vw;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
}
.tutorial-pane{
    /*margin-left: 20vw;*/
    width: 700px;
    float: left;
    margin: 0;
}
.video-pane{
    float: left;
    /*margin-right: 20px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60;
    margin-bottom: 30;
    
}

.face-prods img{
    width: 50px;
    height: 50px;
}

.brow-prods img{
    width: 50px;
    height: 50px;
}

.eye-prods img{
    width: 50px;
    height: 50px;
}

.lip-prods img{
    width: 50px;
    height: 50px;
}