body{
    margin: 0;
    padding: 0;
    
}
.top-pane{
    background-color: white;
    width: 100vw;
    /* height */
}
/* for a background thing #container{} */
.logo{
    padding-top: 30px;
    margin: 0 auto;
}

.loginContainer{
    margin: 10vh auto 10vh auto;
    width: 40vw;
    padding-left: 5vw;
}

#username {
    margin-top: 20px;
}

.loginContainer input{
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    font-size: 1.5rem;
    border: 2px solid yellow;
    border-radius: 5px;
}

.loginButton{
    background-color: yellow;
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
}
#flexContainer{
    display: flex;
    flex-direction: row;
}

.invalid{
    border: 2px solid red;
}
.channelTopBar{
    width: 100vw;
    height: 4vh;
    padding-top: 10px;
    text-align: center;
    background-color: darkgreen;
}

.channelTopBar span{
    margin-right: 20px;
}

/*#tutorial*/iframe{
    margin-top: 40px;
    justify-self: center;
    border: 2px solid #099dfd;
    /*width: 700px;
    height: 400px;*/
    text-align: left;
}

#SelfStream{
    text-align: right;
    margin-top: 20px;
    justify-self: center;
    width: 400;
    height: 250;
    border: 2px solid yellow;
}

#remoteStream{
    text-align: left;
    margin-top: 20px;
    justify-self: center;
    border: 2px solid #099dfd;
    width: 400px;
    height: 250px;
}

.controls{
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 0px;
    height: 100px;
    width: 600px;
    background-color: #ffffff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

.icon {
    height: 40px;
    width: 50px;
    margin: 20px;
    cursor: pointer;
}

.bottom-container{
    margin-top: 5vh;
}
.left-pane{
    width: 20vw;
    text-align: center;
    float: left;
}
.tutorial-pane{
    /*margin-left: 20vw;*/
    width: 700px;
    float: left;
    margin: 0;
}
.video-pane{
    float: right;
    margin-right: 20px;
}